.form-container {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 20px;
}

.form-control {
    margin-bottom: 10px;
}

label {
    font-size: 1rem;
    color: #333;
    display: block;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}