ul.product-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li.product {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

img.product-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

h2.product-title {
  font-size: 20px;
  margin-bottom: 5px;
}

p.product-description {
  font-size: 16px;
  margin-bottom: 5px;
}

p.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.product-actions {
  display: flex;
  justify-content: center;

}

.product-actions button, .product-actions a {
  margin-left: 5px;
  margin-right: 5px;
}