<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
    {{#if isAddProductPage}}
    <link rel="stylesheet" href="/css/form.css">
    {{/if}}
    {{#if isShopPage}}
    <link rel="stylesheet" href="/css/shop.css">
    {{/if}}
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/" class="{{#if isShopPage}}active{{/if}}">Shop</a></li>
                <li><a href="/admin/add-product" class="{{#if isAddProductPage}}active{{/if}}">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
</body>

</html>